body {
  color: white;
  background-color: black;
  font-family: "Helvetica", sans-serif;
}

nav {
  display: flex;
  position: fixed;
  z-index: 0;
  width: 100%;
  border-bottom: 1px solid seashell;
  height: 69px;
}

nav img {
  margin: 0px 0px 0px 10px;
  height: 50px;
}

nav span {

}
